bundle.zip
pip-selfcheck.json
.cache
**/__pycache__/*

venv/

*.sublime-*


#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.*
!*.tfvars.example
